# Serveur API
fastapi==0.135.2
uvicorn==0.42.0
pydantic==2.12.5
python-multipart==0.0.22

# Machine Learning & Data
tensorflow==2.15.0
scikit-learn==1.8.0
pandas==3.0.1
numpy==2.4.3
joblib==1.5.3

# Traitement du langage (NLP)
spacy==3.7.4
contractions==0.1.37
nltk==3.8.1